ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
}

li {
    flex: 1 1 310px;
    padding: 10px;
    margin: 10px;
    max-height: 200px;
    border: 1px solid #d2cfcf;
    border-radius: 5px;
    overflow: auto;
}